/* FormFields.css */
.vstack-gap {
  margin-bottom: 40px; /* Adjust the value as needed */
}

.input-short {
  width: 300px; /* Adjust the value as needed */
}

.sum {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}
