/* FormFields.css */
.vstack-gap {
    margin-bottom: var(--ax-space-40); /* Adjust the value as needed */
}

.sum {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}

.form-fields-wrapper {
    margin-top: var(--ax-space-32);
}
