@import '@navikt/ds-tokens';

.innfylling-container {
    border: 2px solid black;
    padding: 16px;
}

.form-container {
    gap: var(--ax-space-32);
}

.button-container {
    margin-top: var(--ax-space-32);
}
