@import '@navikt/ds-tokens';

.top-box {
  background: var(--ax-accent-100);
  padding: var(--ax-space-4);
  border-color: var(--a-transparent);
  --aksel-legacy__a-border-selected: var(--a-transparent);
}

box-heading {
  size: var(--ax-font-size-heading-xsmall);

  /* size: var(--ax-font-size-heading-2xlarge); */
}
