<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.AccessEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <pattern>
                    <pattern>
                        {
                        "message": " Access: %statusCode %requestURL %elapsedTime ms"
                        }
                    </pattern>
                </pattern>
                <statusCode/>
                <requestedUrl/>
                <contentLength/>
                <remoteHost/>
                <protocol/>
                <threadName/>
                <pattern>
                    <pattern>
                        {
                        "nav_call_id": "%header{nav-call-id}"
                        }
                    </pattern>
                </pattern>
                <provider class="no.nav.pensjon.selvbetjening.inntektsplanleggerenbackend.logging.AuthorizationJsonProvider"/>
            </providers>
        </encoder>

        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.access.common.net.URLEvaluator">
                <URL>/actuator</URL>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>

    </appender>
    <appender-ref ref="STDOUT" />
</configuration>
