<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="CONSOLE_PLAIN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d, %-5p, %c:%L, %t] - %mdc %m%n</pattern>
        </encoder>
    </appender>

    <!-- audit logs goes to console when running locally -->
    <logger name="AUDIT_LOGGER" level="info">
        <appender-ref ref="CONSOLE_PLAIN" />
    </logger>

    <!-- Only console logs goes to Console -->
    <logger name="no.nav.pensjon.selvbetjening.inntektsplanleggeren" level="info">
        <appender-ref ref="CONSOLE_PLAIN" />
    </logger>
</configuration>
