.eps {
    padding-top: 20px;
    padding-bottom: 20px;
}

#datepicker {
    margin-top: 1em;
}

.buttons {
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.eps-navn-pid-container {
    margin-top: 2em;
}

.user-info-text-padding {
    margin-left: 10em;
    margin-top: -2.666em;
    min-width: 200px;
}

.user-info-title-padding {
    display: inline;
    margin-inline-end: 5em;
}
